* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  height: 60px;
  width: 100%;
  background: rgba(240, 240, 240, 0.575);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-right: 30px;
  padding-left: 40px;
}

.logo a {
  transition-duration: 1s;
  font-weight: 500;
  font-size: 35px;
  text-decoration: none;
  text-align: left;
   background: linear-gradient(to right, #023E8A, #00B4D8, #48CAE4, #90E0EF); /* التدريج */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 
}
.logo a:hover {
  color: #259de2;
  transition-duration: 1s;
}

.nav ul {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  margin: 5px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #023E8A;
  margin: 2px 14px;
  font-size: 20px;
 /*/transition-duration: 1s;*/
}
.nav ul li a:active {
  color: red;
}
.nav ul li a:hover {
  color: #ffffff;
  background: linear-gradient( to right,#023E8A, #0077B6, #00B4D8, #48CAE4, #90E0EF);
  border: transparent;
  border-radius: 20px;
  padding: 10px 15px;
  transition-duration: 0.5s;
}

.nav ul li a::before {
  content: "";
  height: 2px;
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  /*transition-duration: 1s;*/
}

.btn {
  width: 100px;
  height: 40px;
  background: linear-gradient( to right,#023E8A, #0077B6, #00B4D8, #48CAE4, #90E0EF);
  border: none ;
  outline: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.418);
  
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  text-wrap: 20px;
  
}

.btn:hover {
  color: transparent;
  background: white;
  border: solid 2px #023E8A;

}
.btn:hover a {
  color: #023E8A;
}


 .body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

        }

        
.login {  /*!الbody متع الصفحة كاملة*/
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image/nattu-adnan-atSUvc1hMwk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper { /*! الفورم*/
  position: relative;
  width: 410px;
  height: 440px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper .form-box {
  /* width: 100px; */
  padding: 40px;
}
.form-box h2 { /*! كلمة login*/
  font-size: 1.2cm;
  color: rgb(255, 255, 255);
  text-align: center;
}
.input-box { /*! الخط اللوطي متع البوكس*/
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin: 30px 0;
}

.input-box input { /*! صندوق الادخال*/
  width: 100%;
  height: 140%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.5cm;
  color: rgb(39, 39, 39);
  line-height: 100px;
  padding: 0 35px 0 5px;

}
.input-box .icon { /*! ايقونات البوكس*/
  position: absolute;
  right: 8px;
  font-size: 0.5cm;
  color: white;
  line-height: 57px;
}
.remember-forgot { /*! سطر تذكرني*/
  font-size: 0.3cm;
  color: rgb(83, 83, 83);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input { /*! صندوق التشيك بوكس*/
  accent-color: #023E8A;
  margin-right: 3px;
}
.remember-forgot a {
  color: #0077B6;
  text-decoration: none;
}
.remember-forgot a:hover {
 color:#023E8A;
 text-decoration: underline;
}
.btn-form { /*! البوتون*/
  background: linear-gradient( to right,#023E8A, #0077B6, #00B4D8, #48CAE4, #90E0EF);
  font-size: 0.7cm;
  color: white;
  padding: 4px 100px;
  margin-bottom: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-position 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  /*background-size: 300% 300%; /* للسماح بتحريك التدرج */
}

.btn-form:hover {
  background-position: right center; /* حركة التدرج */
  transform: scale(1.05); /* تكبير خفيف */
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.3); /* ظل أكبر */
}
.login-register { /*! سطر تذكرني*/
  font-size: 0.4cm;
  color: rgb(83, 83, 83);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
}
.login-register a {
  color:#0077B6;
  text-decoration: none;
}
.login-register a:hover {
  color:#023E8A;
 text-decoration: underline;
}
.register {  /*!الbody متع الصفحة كاملة*/
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image/nattu-adnan-atSUvc1hMwk-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper2 { /*! الفورم*/
  position: relative;
  width: 410px;
  height: 510px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper2 .form-box {
  /* width: 100px; */
  padding: 40px;
}
.register-login { /*! سطر تذكرني*/
  font-size: 0.4cm;
  color: rgb(83, 83, 83);
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 40px;
}
.register-login a {
  color:#0077B6;
  text-decoration: none;
}
.register-login a:hover {
  color:#023E8A;
 text-decoration: underline;
}





